@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter',
        sans-serif;
}

:root {
    --clr-dark:

}

input,
button,
textarea,
select {
    font: inherit;
    background-color: inherit;
}

.custom-bg-dark-900 {
    background-color: hsl(0 0% 6%);
}

.custom-bg-dark-800 {
    background: hsl(0 0% 14%);
}

.custom-bg-dark-700 {
    background: hsl(0, 0%, 9%);
}

.custom-text-accent {
    color: hsla(0 5% 81%);
}

.custom-text-light {
    color: hsla(0 0% 95%);
}